/**
 * Styles
 */
.app {
  padding-top: 1rem;
  background: #f3f3f3;
  padding: 1rem 2rem 3rem; }

.app-Person {
  margin: .5rem .75rem;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 1.25rem;
  cursor: pointer; }

.app-Person_Title {
  color: #1779ba; }

.app-Person_Content {
  color: #767676; }

.app-Cockpit {
  margin-top: 1rem; }

.app-Cockpit_Title {
  margin-bottom: 1rem; }

.app-Cockpit_Button {
  border-radius: 5000px; }
