// As this file is scoped through CSS Modules, 
// you don't have to worry about any naming convention 
// like ECSS to beat specificity
// That said, I recommend ECSS instead of scoping
// Just note that you can't have `-` within your classes like css!

$boxShadowVar: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

// Main Block of the component
.main {
  margin-top: 1rem;
  box-shadow: $boxShadowVar;
}

// All Elements within the main block
.title {
  font-size: 1.125rem;
}

.content {
  font-weight: bold;
}
